<div class="Modal-box">
  <h3>
    <span class="view-details-value" ng-hide="edit">{{card.name}}</span>
    <form ng-submit="saveField()" ng-if="edit">
      <input ng-model="card.name"/>
    </form>
  </h3>
  
  <div>
    <span class="view-details-detail">Trip Date: 
      <span class="view-details-value" ng-hide="edit">{{card.tripStartDate}} - {{card.tripEndDate}}</span>
    </span>
    <form ng-submit="saveField()" ng-if="edit">
      <input ng-model="card.tripStartDate" type="date"/>
      <input ng-model="card.tripEndDate" type="date"/>
    </form>
  </div>

  <div class="view-details-holder">
    <span class="view-details-detail">Primary Destination: 
      <span class="view-details-value" ng-hide="edit">{{card.destination}}</span>
    </span>
    <form ng-submit="saveField()" ng-if="edit">
      <input ng-model="card.destination"/>
    </form>
  </div>

  <div class="view-details-holder">
    <span class="view-details-detail">Pixie Package Purchased: 
      <span class="view-details-value" ng-hide="edit">{{card.pixie}}</span>
    </span>
    <form ng-submit="saveField()" ng-if="edit">
      <input ng-model="card.pixie"/>
    </form>
  </div>
  <div class="view-details-holder">
    <span class="view-details-detail">Adults: 
      <span class="view-details-value" ng-hide="edit">{{card.adults}}</span>
    </span>
    <form ng-submit="saveField()" ng-if="edit">
      <input ng-model="card.adults"/>
    </form>
  </div>

  <div class="view-details-holder">
    <span class="view-details-detail">Children: 
      <span class="view-details-value" ng-hide="edit">{{card.kids}}</span>
    </span>
    <form ng-submit="saveField()" ng-if="edit">
      <input ng-model="card.kids"/>
    </form>
  </div>

  <div class="view-details-holder">
    <span class="view-details-detail">Travel Agent: 
      <span class="view-details-value" ng-hide="edit">{{card.agent}}</span>
    </span>
    <form ng-submit="saveField()" ng-if="edit">
      <input ng-model="card.agent"/>
    </form>
  </div>

  <div class="view-details-holder">
    <span class="view-details-detail">Notes:
      <span class="view-details-value" ng-hide="edit">{{card.notes}}</span>
      <form  ng-if="edit" ng-submit="saveField()">
        <input ng-model="card.notes"/>
      </form>
    </span>
  </div>

  <button class="view-details-edit" ng-click="editField()">Edit</button>
  <button ng-click="saveAndExit()">Click to save details</button>
</div>