.heading {
  border: solid black 1px;
  border-radius: 5px;

  width: 1400px;
  height: 100px;
  margin: auto;
  
  padding: 10px;
  
}

.nav-bar {
  border: solid black 1px;
  border-radius: 5px;

  width: 1400px;
  margin: auto;
  
  padding: 10px;

  text-align: center;
}

.sidebar {
  border: solid black 1px;
  border-radius: 5px;

  width: 150px;
  height: 750px;
  float: left;
  padding: 10px;
  margin-right: 10px;

  text-align: center;
}

.content-container {
  border: solid black 1px;
  border-radius: 5px;

  width: 1218px;
  margin-top: 10px;
  float: right;

  padding: 10px;
}