.heading {
  border: solid black 1px;
  border-radius: 5px;

  width: 1400px;
  height: 100px;
  margin: auto;
  
  padding: 10px;
  
}

.nav-bar {
  border: solid black 1px;
  border-radius: 5px;

  width: 1400px;
  margin: auto;
  
  padding: 10px;

  text-align: center;
}

.sidebar {
  border: solid black 1px;
  border-radius: 5px;

  width: 150px;
  height: 750px;
  float: left;
  padding: 10px;
  margin-right: 10px;

  text-align: center;
}

.content-container {
  border: solid black 1px;
  border-radius: 5px;

  width: 1218px;
  margin-top: 10px;
  float: right;

  padding: 10px;
}

.kanban-column {
  float: left;
  height: 250px;
  width: 125px;
  padding: 10px;
  margin-left: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.kanban-column, h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.kanban-nav-button {
  cursor: pointer;
}

.kanban-card-name {
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1em;
}

ul[dnd-list], ul[dnd-list] > li { 
    position: relative;
}