<div class="drawing-page">
  <form>
    <input ng-model="personToAdd.name" />
    <button ng-click="addPerson()">Submit</button>
  </form>

  <ul>
    <li ng-repeat="person in people">
      <div class="drawing">{{person.name}} - </div>
      <div  class="drawing">{{person.entries}} entries</div>
      <button  class="drawing" ng-click="addEntry()">+</button>
    </li>
  </ul>

  <button ng-click="drawWinner()">Draw a winner</button>

  <div class="drawing-results" ng-if="winner.name">
    And the winner is: {{winner.name}}!
  </div>
</div>